*{
    box-sizing: border-box;
}
body{
    background-color: #babfc2 ;
    font-family: sans-serif;
}
section  {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
h4 {
    margin: 20px;
}
h1 {
    text-align: center;
}

.principal {
    display: flex;
    width: 830px;
    height: 450px;
    background-color: white;
}

.columna {
    width: 200px;
    height: 450px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inputValor{
    margin-top: 30px;
    margin-left: 10px;
    width: 150px;
}
.row {
    width: 200px;
    height: 150px;
    background-color:white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 
}

.row1 {
    background-image: url('../imagen/ciudad.jpg');
    border-radius: 10px;
    height: 100px;
    margin-top: auto;
    text-align: center;
}

.columnacentral {
    width: 630px;
    height: 450px;
    background-color:  #e7ecee ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}    

.fila1 {
    display: flex;
    height: 100px;
    border-radius: 10px;
   
    
  
}

.fila2 {
    display: flex;
    height: 110px;
    width: 600px;
    font-size: 10px;
    text-align: center;
    color: grey;
    font-weight: bold;
    
}

.fila3 {
    display: flex;
    height: 110px;
    width: 600px;
    font-size: 10px;
    text-align: center;
    color: grey;
    font-weight: bold;
}

#celda {
    height: 100px;
    width: 180px;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}


.columnas {
    text-align: center;
    width: 70px;
    height: 90px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
}

#cel1 {
    margin: 0px;
}

#UV , #viento ,#humedad , #visibilidad ,#aire {
    margin: 10px;
    font-size: 20px;
}

img {
    width: 15%;
    margin-bottom: auto;
    margin-top: auto;
    float: left;
}

.imgdias {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.sol {
    width: 10%;
   
}

#ciudad {
    width: 80%;
    border-radius: 10px ;
    margin-left: 20px;
    
}
